.container
  %h2.task-title tasks
  - @tasks.each do |task|
    .task
      .task-content-box
        .task-title
          = task.title
        .task-content
          = task.content
        .task-icon-box
          = image_tag task.user.user_avatar, class: 'task-icon'
  - if user_signed_in?
    .add-task
      = link_to new_board_task_path do
        .add-task-content
          + Add new tasks
    