@import 'reset';
@import 'header';
@import 'form';
@import 'btns';
@import 'board';
@import 'flash';
@import 'profile';
@import 'common';

.body{
  position: relative;
}

.container{
  margin:0 26px;
  position: relative;

  .title{
    position: absolute;
    height: 36px;
    left:0%;
    right: 54.64%;
    top:31px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
  }
}

