$input-bgc:#F4F4F4;

.label{
  display:block;
  margin-bottom: 6px;
}
.inline-label{
  margin-bottom:33px;
  display:inline-block;
}
.text{
  background-color:$input-bgc;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  margin-bottom:33px;
  padding:10px;
}

.text-a{
  height:203px;
}







