.header{
  border-bottom: 1px solid rgba(0,0,0,.1);
  height:58px;


  
    
    .h-h1{
      position: absolute;
      width: 56px;
      height: 25px;
      left:0;
      top: 17px;
  
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
    }

    .header-icon{
      position: absolute;
      width: 40px;
      height: 40px;
      top:10px;
      right:0;
      border-radius:20px;
    
    }


}
  

    
      