$board-color:#F4F4F4;



.task-title{
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  margin-top: 30px;
}

// --------------------
// 作成されたtaskのcss
// ---------------------
.task{
  margin:30px 0;
  width: 330px;
  background-color:$board-color;
  border:1px solid rgba(0,0,0,.1);
  border-radius:10px;

  .task-content-box{
    position: relative;

    .task-image-box{
      height: 200px;
      margin: 10px;
      overflow: hidden;
      border-radius:10px;
    }

    .task-title{
      padding-left:17px;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      margin-bottom:10px;
    }

    .task-content{
      padding:0 17px;
      margin-bottom:20px;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      opacity:0.4;
    }

    .task-icon{
      margin-left:17px;
      margin-bottom:20px;
      width: 30px;
      height: 30px;
      border-radius:20px;

    }

    .edit-icon{
      position: absolute;
      height: 6px;
      right:40px;
      top:40px;

    }
  }
}

// ------------------------
// taskを追加するためのcss
// -------------------------


.add-task{
  margin:30px 0;
  width: 330px;
  height:161px;
  border:1px dashed rgba(0,0,0,.2);
  border-radius:10px;


  .add-task-content{
    display:block;
    text-align: center;
    line-height:161px;
  }
}